h1 {
    color:red;
}
body {
    background: url("../assets/images/arrimg.jpg");
}
#myCanvas {
    border: 1px solid black;
    background-color: lightgray;
    background-image: url("../assets/images/envi.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 5000px;
    height: 2500px;
    display: block;
    margin: 0 auto;
}
video {
    display:none;
}